* {
    margin: 10px;
}

img {
    width: 200px;
}

.fantasma {
    width: 100px;
}

.itens-extremidade {
    display: flex;
    justify-content: space-between;
}

.itens-espacado {
    display: flex;
    justify-content: space-around;
}

.itens-centro {
    display: flex;
    justify-content: center;
}

.itens-lista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itens-fim {
    display: flex;
    justify-content: flex-end;
}

.itens-comeco {
    display: flex;
    justify-content: flex-start;
}

.amarelo {
    background-color: yellow;
}

.rosa {
    background-color: #E7B6FF;
}

.aqua {
    background-color: aqua;
}

.alto {
    height: 960px;
}

.largo {
    width: 960px;
}